@using control_notas_cit.Helpers

<li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index")"><i class="icon-book"></i><span class="hidden-tablet"> Inicio</span></a></li>
<li class=""><a href="#"><i class="icon-edit"></i><span class="hidden-tablet"> Profesor 2</span></a></li>
<li class=""><a href="#"><i class="icon-user"></i><span class="hidden-tablet"> Profesor 3</span></a></li>
<li><a href="#"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Profesor 4</span></a></li>
