@model control_notas_cit.Models.Entidades.Proyecto

<div class="box-header">
    <h2>@Model.Nombre</h2>
       
</div>

<div class="box-content">
    @Model.Nombre <br />
    @Model.Descripcion <br />
</div>